<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stayproperty</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <ul>
        <li style="margin-bottom: 5px; font-size: 24px; font-family: 'GothamProLight';">font-family: 'GothamProLight';</li>
        <li style="margin-bottom: 5px; font-size: 24px; font-family: 'GothamPro';">font-family: 'GothamPro';</li>
        <li style="margin-bottom: 5px; font-size: 24px; font-family: 'GothamProMedium';">font-family: 'GothamProMedium';</li>
        <li style="margin-bottom: 5px; font-size: 24px; font-family: 'GothamProBold';">font-family: 'GothamProBold';</li>
        <li style="margin-bottom: 5px; font-size: 24px; font-family: 'GothamProBlack';">font-family: 'GothamProBlack';</li>
        <li style="margin-bottom: 5px; font-size: 24px; font-family: 'GothamProNarrowMedium';">font-family: 'GothamProNarrowMedium';</li>
        <li style="margin-bottom: 5px; font-size: 24px; font-family: 'GothamProNarrowBold';">font-family: 'GothamProNarrowBold';</li>
    </ul>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.inputmask.bundle.min.js"></script>
    <script src="../js/jquery.inputmask-multi.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>