<footer>
    <div class="container">
        <div class="footer-menu">
            <div class="contact-us">
                <h4>Свяжитесь с нами</h4>
                <div class="contact-content">
                    <ul class="cities">
                        <li><span>Турция</span><a href="tel:+90-242-513-7829">+90-242-513-7829</a></li>
                        <li><span>Россия</span><a href="tel:+7-499-112-0970">+7-499-112-0970</a></li>
                        <li><span>Россия</span><a href="tel:+7 916 654-34-07">+7 916 654-34-07</a></li>
                        <li><span>Украина</span><a href="tel:+380-943-200-618">+380-943-200-618</a></li>
                        <li><span>Казахстан </span><a href="tel:+90-242-513-7829">+90-242-513-7829</a></li>
                    </ul>
                    <ul class="contact">
                        <li><a href="javascript:void(0)"><i class="icon-letter"></i>info@stayproperty.com</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-location"></i> Oba Mah., Mesut Cd., No: 54/A – 07400 Alanya / Antalya / Turkey</a></li>
                    </ul>
                </div>
            </div>
            <div class="property">
                <h4>Недвижимость</h4>
                <ul>
                    <li><a href="javascript:void(0)">Авсаллар</a></li>
                    <li><a href="javascript:void(0)">Турклер</a></li>
                    <li><a href="javascript:void(0)">Конаклы</a></li>
                    <li><a href="javascript:void(0)">Алания (центр)</a></li>
                    <li><a href="javascript:void(0)">Клеопатра</a></li>
                    <li><a href="javascript:void(0)">Чикджили</a></li>
                    <li><a href="javascript:void(0)">Оба</a></li>
                    <li><a href="javascript:void(0)">Тосмур</a></li>
                    <li><a href="javascript:void(0)">Кестель</a></li>
                    <li><a href="javascript:void(0)">Махмутлар</a></li>
                    <li><a href="javascript:void(0)">Каргыджак</a></li>
                    <li><a href="javascript:void(0)">Демирташ</a></li>
                    <li><a href="javascript:void(0)">Газипаша</a></li>
                </ul>
            </div>
            <div class="navigation">
                <h4>Навигация</h4>
                <ul>
                    <li><a href="javascript:void(0)">Главная</a></li>
                    <li><a href="javascript:void(0)">Недвижимость</a></li>
                    <li><a href="javascript:void(0)">YouTube – Alanya TV</a></li>
                    <li><a href="javascript:void(0)">О нас</a></li>
                    <li><a href="javascript:void(0)">Отзывы</a></li>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                    <li><a href="javascript:void(0)">Новости</a></li>
                    <li><a href="javascript:void(0)">Контакты</a></li>
                </ul>
            </div>
            <div class="alanya">
                <ul>
                    <li><a href="javascript:void()">Alanya TV</a></li>
                    <li><a href="javascript:void()">Stay Media Group</a></li>
                    <li><a href="javascript:void()">Stay Investment</a></li>
                    <li><a href="javascript:void()">Stay Management</a></li>
                    <li><a href="javascript:void()">Stay Rental</a></li>
                </ul>
                <form>
                    <h5>Новостная рассылка</h5>
                    <input type="text" placeholder="Ваша почта">
                </form>
            </div>
        </div>
        <a class="logo" href="index.html"><img src="../img/logo-footer.png" alt=""></a>
        <ul class="social">
            <li class="instagram"><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
            <li class="facebook"><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
            <li class="linkedin"><a href="javascript:void(0)"><i class="icon-linkedin"></i></a></li>
            <li class="twitter"><a href="javascript:void(0)"><i class="icon-twitter"></i></a></li>
            <li class="vk"><a href="javascript:void(0)"><i class="icon-vk"></i></a></li>
            <li class="youtube"><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
        </ul>
        <p>
            <a href="javascript:void(0)">Политика конфиденциальности</a>
            <span>Copyright 2019. StayProperty</span>
            <a href="javascript:void(0)">Дизайн разработан PlemyaStudio</a>
        </p>
    </div>
</footer>